language: android
dist: xenial
sudo: false

env:
  global:
  - ANDROID_HOME=/usr/local/android-sdk
  - ORG_GRADLE_PROJECT_RELEASE_SIGNING_ENABLED=false

android:
  components:
    - tools
    - android-29
    - extra-google-m2repository
    - extra-android-m2repository

before_install:
  - rvm install 2.5.5
  - rvm use 2.5.5
  - echo y | sdkmanager "platform-tools" >/dev/null
  - echo y | sdkmanager "tools" >/dev/null
  - echo y | sdkmanager 'cmake;3.6.4111459' >/dev/null
  - echo y | sdkmanager 'ndk;16.1.4479499' >/dev/null
  - gem install bundler
  - gem update --system 3.0.6
  - bundle install
  - ls $ANDROID_HOME

install:
  - curl -sL https://deb.nodesource.com/setup_12.x | sudo -E bash -
  - sudo apt-get install -y nodejs
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH="$HOME/.yarn/bin:$PATH"

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/.android/build-cache

jobs:
  include:
    # Unit test job
    - name: unit tests
      script: ./gradlew detekt ktlintCheck check

    # Plugin install job
    - name: plugin install
      script: ./gradlew install

    # AGP 3.4.0 E2E tests
    - name: AGP 3.4.0 E2E tests
      env:
        - AGP_VERSION=3.4.0
        - GRADLE_WRAPPER_VERSION=5.1.1
        - RN_FIXTURE_DIR=features/fixtures/rn060/android
      script: bundle exec maze-runner -c --verbose --fail-fast

      # AGP 3.5.0 E2E tests
    - name: AGP 3.5.0 E2E tests
      env:
        - AGP_VERSION=3.5.0
        - GRADLE_WRAPPER_VERSION=5.4.1
        - RN_FIXTURE_DIR=features/fixtures/rn060/android
      script: bundle exec maze-runner -c --verbose --fail-fast

      # AGP 3.6.0 E2E tests
    - name: AGP 3.6.0 E2E tests
      env:
        - AGP_VERSION=3.6.0
        - GRADLE_WRAPPER_VERSION=5.6.4
        - RN_FIXTURE_DIR=features/fixtures/rn061/android
      script: bundle exec maze-runner -c --verbose --fail-fast

      # AGP 4.0.0 E2E tests
    - name: AGP 4.0.0 E2E tests
      env:
        - AGP_VERSION=4.0.0
        - GRADLE_WRAPPER_VERSION=6.1.1
        - RN_FIXTURE_DIR=features/fixtures/rn062/android
      script: bundle exec maze-runner -c --verbose --fail-fast

      # AGP 4.1.0 E2E tests
    - name: AGP 4.1.0 E2E tests
      env:
        - AGP_VERSION=4.1.0
        - GRADLE_WRAPPER_VERSION=6.5.1
        - RN_FIXTURE_DIR=features/fixtures/rn063/android
      script: bundle exec maze-runner -c --verbose --fail-fast

      # AGP 4.2.0 E2E tests
    - name: AGP 4.2.0 E2E tests
      env:
        - AGP_VERSION=4.2.0-beta03
        - GRADLE_WRAPPER_VERSION=7.0-rc-1
        - RN_FIXTURE_DIR=features/fixtures/rn063/android
      script: bundle exec maze-runner -c --verbose --fail-fast
