<manifest package="com.example" android:versionCode="12" xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="5.2">
  <application android:name="com.example.android.gradle.plugin.FooApp">
    <meta-data android:name="com.bugsnag.android.API_KEY" android:value="api-key"/>
    <meta-data android:name="com.bugsnag.android.BUILD_UUID" android:value="build-uuid-123"/>
  </application>
</manifest>
